body{
  margin-top:8px;
  background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
#header{
  text-align: center;
  font-size:1.8em;
  background: #DC2424;  /* fallback for old browsers */
  background: -webkit-linear-gradient(#4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(#4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#headerMobile{
  text-align: center;
  font-size:1.3em;
  background: #DC2424;  /* fallback for old browsers */
  background: -webkit-linear-gradient(#4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(#4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#mobileImg{
  width:60%;
}
#menu{
  margin:.1em;
  display: inline-block;
}
#menuItems{
  color:#E72564;
  font-size:1em;
  text-decoration: underline;
}
#scrollTopBtn{
  position:fixed;
  bottom:.9em;
  right:.9em;
}
#contactBtn{
  padding:.5em;
  position:fixed;
  top:3em;
  right:.3em;
}
#profilePic{
  border-radius: 100%;
}
#social, ul, li{
  display:inline;
  list-style: none;
}
#projectLinks{
  color:orange;
}